<header>
    <!--<div class="header-titulos">-->
        <div>
            <img src="img/logo.svg" alt="Logo">
        </div>
        <h1>Pokedex</h1>

        <form action="../../index.php" method="post" class="header-formulario">
            <input type="text" placeholder="usuario" name="usuario">
            <input type="text" placeholder="contraseña" name="pass">
            <input type="submit" class="ingresar" value="Ingresar">
        </form>
</header>