<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>


<main>
    <div class="pokemon-details">
        {{# pokemones }}
            <tr>
                <td><img src='public/img/{{ imagen }}' alt='{{ nombre }}'></td>
                <td>{{ numero_identificador }}</td>
                <td>{{ nombre }}</td>
                <td>{{ descripcion }}</td>
                <td><img src='public/img/tipo/{{ tipo }}.png' alt='{{ tipo }}' class='tipo-imagen'></td>
                <td>{{ numero_identificador }}</td>
            </tr>
        {{/ pokemones }}
    </div>
</main>

</body>
</html>